= form_for @item do |f|
  - if @item.errors.any?
    #error_explanation
      %h2= "#{pluralize(@item.errors.count, "error")} prohibited this item from being saved:"
      %ul
        - @item.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :user_id
    = f.text_field :user_id
  .field
    = f.label :price
    = f.text_field :price
  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :stock
    = f.number_field :stock
  .actions
    = f.submit 'Save'
