%p#notice= notice

%p
  %b User:
  = @item.user_id
%p
  %b Price:
  = @item.price
%p
  %b Name:
  = @item.name
%p
  %b Stock:
  = @item.stock

= link_to 'Edit', edit_item_path(@item)
\|
= link_to 'Back', items_path
